.nav {
  width: 6.9rem;
  height: 3.64rem;
  margin: -2.16rem auto 0;
  overflow: hidden;
  font-size: 0.12rem;
  background-color: #fff;
  border-radius: 0.06rem;
  box-shadow: 0 0.06rem 0.15rem 0 hsla(0, 0%, 88%, 0.41);
  transform: translateZ(0);
}

.slide {
  margin: 0.32rem 0.36rem 0.12rem 0;
  width: 0.64rem;
  height: 0.64rem;
  /* margin: 0 auto; */
}

.fon {
  font-size: 0.24rem;
  color: #393939;
  letter-spacing: 0;
  line-height: 0.26rem;
  display: inline-block;
  width: 1.38rem;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0.12rem;
  margin-left: 0.36rem;
}
